#siu {
    width: 350px;
    display: flex;
    float: left;
    border: 10px solid black;
    border-radius: 20%;
    height: 100px;
 }
 g {
    margin-left: 50px;
    width: 200px;
    height: 100px;
    box-shadow: 0 0 0 6px yellow;
    box-sizing: border-box;
    border-radius: 36%;
 }
d {
    width: 200px;
    height: 100px;
    padding: 80px;
    box-shadow: 0 0 0 10px green;
    box-sizing: border-box;
    border-radius: 50%;
 }